@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
   font-family: Raleway, sans-serif;
   font-weight: bold;
   font-size: 60pt;
   position: center;
}

.boarderleft {
   grid-area: boarderleft;
 }

 .boarderright {
   grid-area: boarderright;
 }

.chessboard {
   grid-area:board;
}

.last-moves {
   grid-area:section1;
}

.last-moves-header {
   font-size: 25pt;
   position: center;
}

.last-moves-text {
   font-size: 15pt;
   font-weight: normal;
   position: center;
}

.black-pieces-taken {
   grid-area:section2;
   
}

.black-pieces-taken-header {
   font-size:20pt;
   position: center;
}

.black-pieces-taken-text {
   font-size: 15pt;
   font-weight: normal;
   position: center;
}

.white-pieces-taken {
   grid-area:section3;
}

.white-pieces-taken-header {
   font-size:20pt;
   position: center;
}

.white-pieces-taken-text {
   font-size: 15pt;
   font-weight: normal;
   position: center;
}

.select-move-button {
   grid-area:section4;
}

.disclaimer {
   grid-area:disclaimer;
 }
 
.disclaimer-text {
   font-weight: lighter;
   font-size: 10pt;
   color:#a4a4a4
 }


.grid-container1 {
   display: grid;
   position: relative;
   width: auto;
   grid-template-areas: 
      'boarderleft board section1 boarderright'
      'boarderleft board section2 boarderright'
      'boarderleft board section3 boarderright'
      'boarderleft board section4 boarderright'
      'disclaimer disclaimer disclaimer disclaimer';
   gap: 10px;
   padding: 10px;
}

@media only screen and (max-width: 700px) {
   .grid-container1 {
      display: grid;
      position: relative;
      width: auto;
      grid-template-areas: 
         'boarderleft board boarderright'
         'boarderleft section4 boarderright'
         'boarderleft section1 boarderright'
         'boarderleft section2 boarderright'
         'boarderleft section3 boarderright'
         'disclaimer disclaimer disclaimer';
      gap: 10px;
      padding: 10px;
   }
}

.grid-container2 {
   display: grid;
   position: center;
   align-self: center;
   width: 100%;
   grid-template-columns: auto auto auto auto auto auto auto auto;
   grid-template-rows: auto auto auto auto auto auto auto auto;
   gap: 15px;
   padding: 0px;
}

button{
   background: #707070;
   border:none;
   padding-top: 10px;
   padding-bottom:10px;
   max-width: 1920px;
   min-width: 395px;
   min-height: 80px;
   padding-left: auto;
   padding-right: auto;
   border-radius: 15px;
   color:#fff;
   font-weight: Raleway, sans-serif;
   cursor:pointer;
   font-size: 0.8em;
   align-self:center;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
button:hover{
   background: #3e3e3e;
   color: #fff;
   transition-duration:0.2s ;
}
button:active {
   background: #512865;
   color: #fff;
}